.popup {
	width: 282px;
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 10px;
	background-color: #ffffff;
	margin: 0 auto;
	z-index: 1;
	position: absolute;
	top: 125px;
	left: 19px;
	box-sizing: border-box;
	display: none;
}

@media screen and (min-width: 1024px) {
	.popup {
		width: 430px;
		top: 195px;
		left: 300px;
	}
}

@media screen and (min-width: 1280px) {
	.popup {
		left: 425px;
	}
}
