.popup__submit-button {
	border: none;
	background-image: url(../../../images/Submit\ Button\ Size\ S.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 238px;
	height: 46px;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 25px;
	background-color: transparent;
}

@media screen and (min-width: 1024px) {
	.popup__submit-button {
		background-image: url(../../../images/Submit\ Button\ Size\ L.png);
		width: 358px;
		height: 50px;
	}
}
